*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url(../img/natural-default-pattern.png);
}

#container{
  width: 1000px;
  margin: auto;
}

/* #container::after{
  content: "";
  display: table;
  clear: both;
} */


/* utility */
.float_left{
  float: left;
}

.mt_20{
  margin-top: 20px;
}

.mb_20{
  margin-bottom: 20px;
}

.rounded_box{
  border-radius: 5px;
  background: white;
  padding: 5px;
}

/* site_header */
#site_header{
  height: 300px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.header_top{
  position: relative;
  height: 256px;
  border: 10px solid white;
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
}

.header_top h1{
  font-size: 24px;
  font-weight: 600;
}

.header_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header_logo img{
  width: 70%;
}

/* navbar */
nav{
  width: 100%;
  height: 44px;
  background: grey;
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav ul{
  list-style: none;
}

.menu li{
  display: inline-block;
  padding: 0 10px;
  line-height: 44px;
}

.menu li a{
  text-decoration: none;
  color: white;
  font-size: 11px;
}

.menu li:hover{
  background: lightgrey;
  /* cursor: pointer; */
  text-decoration: underline;
}


/* main_content */
#main_content::after{
  content: "";
  display: table;
  clear: both;
}

/* #main_content{
  line-height: 2;
} */

.col_left, .col_right{
  width: 20%;
  background: white;
}

.col_header::after{
  content: "";
  display: table;
  clear: both;
}

.col_left i{
  padding-right: 10px;
  font-size: 30px;
  color: orange;
}

.col_left h2{
  width: 60%;
  font-weight: 500;
  color: #504741;
  /* margin-bottom: 5px; */
}

.col_side ul{
  list-style: none;
  margin: 10px;
  /* line-height: 1.5; */
}

.col_side li {
  margin-bottom: 5px;
  /* margin-left: 5px; */
}

.col_side li a{
  text-decoration: none;
  color: green;
  text-transform: capitalize;
  font-size: 14px;
}

.col_side li a:hover{
  text-decoration: underline;
  cursor: pointer;
  background: lightgrey;
}


.col_center{
  width: 50%;
  background: white;
  margin: 0 5%;
  padding: 10px;
}

.col_center h2{
  color: #504741;
  margin: 15px 10px;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px grey;
}

.col_center p{
  margin: 20px 10px;
  line-height: 2;
}

/* site_footer */
#site_footer{
  height: 200px;
  background: grey;
}
